<div *ngIf="(question$ | async) as question; else loading">
	<div [ngSwitch]="question.type">

		<app-question-yes-no
			*ngSwitchCase="'yes_no'"
			[question]="question"
			(answer)="handleAnswer($event)"
		></app-question-yes-no>

		<app-question-multiple
			*ngSwitchCase="'multiple'"
			[question]="question"
			(answer)="handleAnswer($event)"
		></app-question-multiple>

		<app-question-number
			*ngSwitchCase="'number'"
			[question]="question"
			(answer)="handleAnswer($event)"
		></app-question-number>
	</div>
</div>

<ng-template #loading>
	<div class="text-center" style="margin-top: 20%;">
		<div 
			class="spinner-border text-center"
			role="status"
			style="width: 3.5em; height: 3.5em;"
		></div>
	</div>
</ng-template>