<div *ngIf="question">
	<h4 class="m-2 mt-4">{{question.prompt}}</h4>
	<div
		*ngFor="let option of question.options"
		class="col-md-6 col-sm-12 float-left p-2"
	>
		<button 
			class="btn btn-primary w-100"
			(click)="answer.emit({
				id : question.id,
				value : option.key,
				next : option.next
			})"
		>
			{{option.prompt}}
		</button>
	</div>
</div>
