<div *ngIf="question">
	<h4>{{question.prompt}}</h4>
	<form
		class="form"
		[formGroup]="questionForm"
		(ngSubmit)="onSubmit()"
		novalidate
	>
		<div class="form-group">
			<div class="input-group">
				<input
					formControlName="amount"
					class="form-control"
					type="number"
					name="amount"
					[ngClass]="{
						'is-invalid' : amount.invalid && (amount.dirty || amount.touched)
					}"
				>
				<div *ngIf="question.unit" class="input-group-append">
					<div class="input-group-text">{{question.unit}}</div>
				</div>
			</div>

			<div
				*ngIf="amount.invalid && (amount.dirty || amount.touched)"
				class="help-block"
			>

			<!-- Error message for required -->
			<small 
				*ngIf="amount.hasError('required')"
				class="text-danger"
			>
				Eingabe erforderlich
			</small>

			<!-- Error message for min -->
			<small 
				*ngIf="amount.hasError('min')"
				class="text-danger"
			>
				Der Wert muss größer oder gleich {{question.min}} sein.
			</small>

			<!-- Error message for max -->
			<small 
				*ngIf="amount.hasError('max')"
				class="text-danger"
			>
				Der Wert muss kleiner oder gleich {{question.max}} sein.
			</small>
			</div>
		</div>
		<button
			class="btn btn-primary mt-2 float-right"
			[disabled]="amount.invalid"
		>Weiter</button>
	</form>
</div>