<div *ngIf="question">
	<h4 class="m-2 mt-4">{{question?.prompt}}</h4>
	<div 
		class="col-md-6 col-sm-12 float-left p-2"
	>
		<button
			class="btn btn-primary w-100"
			(click)="answer.emit({
				id : question.id,
				value : true,
				next : question.yes.next
			})"
		>{{question.yes.prompt}}</button>
	</div>

	<div 
		class="col-md-6 col-sm-12 float-left p-2"
	>
		<button
			class="btn btn-primary w-100"
			(click)="answer.emit({
				id : question.id,
				value : false,
				next : question.no.next
			})"
		>{{question.no.prompt}}</button>
	</div>
</div>
